body {
    color : #34495e;
    transition: color 0.5s ease-in-out;

}
.btn {
    cursor: pointer;
}
h1 {
    color : #34495e;
    transition: color 0.5s ease-in-out
}


.form,
.greetings {
    display: none;
}
.showing {
    display: block;
}
.clicked{
    color: #7f8c8d
}